<div class="header">
    <div class="logo"><a href="/products">小小食杂铺</a></div>
    <div>
        <div class="search">
            <form action="/products/search" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input class="search-input" type="text" name="query_string" value="" placeholder="输入你要搜索的商品">
                <button type="submit" class="search-button pa tc"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="cart-wrap">
        <div class="cart">
            <a href="/carts">
                <i class="fa fa-shopping-cart cart-icon "></i>我的购物车(0) &gt;
			</a>
        </div>
    </div>
</div>
<div class="menu bg-color1">
    <div class="menuList">
        <div class="menuList-item bg-color2"></div>
        <div class="menuList-item bg-color3"></div>
        <div class="menuList-item bg-color4"></div>
        <div class="menuList-item bg-color5"></div>
    </div>
</div>
<div class="carousel bg-color1"></div>
<div class="orderList bg-color1">
    <div class="orderList-item bg-color2"></div>
    <div class="orderList-item bg-color3"></div>
    <div class="orderList-item bg-color4"></div>
    <div class="orderList-item bg-color5"></div>
</div>
<div class="productList">
    <div class="productList-item bg-color1"></div>
    <div class="productList-item bg-color2"></div>
    <div class="productList-item bg-color3"></div>
    <div class="productList-item bg-color4"></div>
    <div class="productList-item bg-color1"></div>
    <div class="productList-item bg-color2"></div>
    <div class="productList-item bg-color3"></div>
    <div class="productList-item bg-color4"></div>
</div>
