  <footer class="footer">
  	<p>關於我們 | 幫助中心 | 開放平台 | 誠聘英才 | 聯繫我们 | 網站合作 | 友情連接</p>
  	<p>
      <span class="logo-text">Copyright ©2017 購物商店</span>
      <span class="icp-center">Design by 鄭傑文 & YoJu Hsu</span>
  	</p>
  </footer>
